  <footer class="p-4 sm:p-6 bg-gray-800">
    <div class="md:flex md:justify-between">
        <div class="mb-6 md:mb-0">
            <a href="/" class="flex items-center">
                <img src="/img/dionysusTicketingLogo.png" class="mr-3 h-16" alt="Dionysus Logo" />
                <span class="self-center text-2xl font-semibold whitespace-nowrap text-white">Dionysus</span>
            </a>
        </div>
        <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Resources</h2>
                <ul class="text-gray-400">
                    <li class="mb-4">
                        <a href="/" class="hover:underline">Dionysus</a>
                    </li>
                   <!-- {{#if this.msal.isAuthenticated}}
                    <li>
                        <LinkTo @route="validate" class="hover:underline">Validator</LinkTo>
                    </li>
                    {{/if}} -->
                </ul>
            </div>
            <!-- Follow us section -->
            <!--
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Follow us</h2>
                <ul class="text-gray-400">
                    <li class="mb-4">
                        <a href="https://github.com/themesberg/flowbite" class="hover:underline ">Github</a>
                    </li>
                    <li>
                        <a href="https://discord.gg/4eeurUVvTy" class="hover:underline">Discord</a>
                    </li>
                </ul>
            </div>
            -->

            <!-- Policy links -->
            <!--
            <div>
                <h2 class="mb-6 text-sm font-semibold uppercase text-white">Legal</h2>
                <ul class="text-gray-400">
                    <li class="mb-4">
                        <a href="#" class="hover:underline">Privacy Policy</a>
                    </li>
                    <li>
                        <a href="#" class="hover:underline">Terms &amp; Conditions</a>
                    </li>
                </ul>
            </div>
            -->
            
        </div>
    </div>
    <hr class="my-6 sm:mx-auto border-gray-700 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
        <span class="text-sm sm:text-center :text-gray-400">© 2022 <a href="/" class="hover:underline">Dionysus</a>. All Rights Reserved.
        </span>
        <div class="flex mt-4 space-x-6 sm:justify-center sm:mt-0">
            <a href="#" class="text-gray-500 hover:text-white">
                <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true"><path fill-rule="evenodd" d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z" clip-rule="evenodd" /></svg>
            </a>
        </div>
    </div>
</footer>