{{page-title "Dionysus"}}

<div class="flex flex-col h-screen justify-between">
<Header />
    
  <main class="mb-auto">

<div class="h-5"></div>

{{outlet}}




  </main>
 

  <Footer />

</div>











